@import "tailwindcss";

@layer base {
  html {
    @apply w-full h-full bg-[#F8F8F8] text-[#15172A] text-sm;
    body {
      main {
        @apply flex-1 bg-slate-50 overflow-hidden;
        & > div:first-child{
          @apply px-6 w-full h-full py-[1%];
        }
      }
    }
  }
  html, body, #root {
    @apply w-full h-full;
  }

  button {
    @apply py-[9px] px-[16px] bg-[#EDEDED] rounded-[8px] text-[#8A8C90] font-semibold text-[14px] whitespace-nowrap;
  }

  input {
    @apply py-[7px] px-[14px] bg-white border-[1px] border-[#EFEFEF] rounded-[10px] text-[#8A8C90] font-medium focus:outline-[#8A8C90];
  }

  h1 {
    @apply font-bold text-[32px];
  }

  h3 {
    @apply mb-4 font-bold text-[14px];
  }

  table {
    @apply text-left;

    th, td {
      @apply py-4 px-5;
    }

    th {
      @apply font-bold;
    }

    td {
      @apply text-base;
    }
  }
}

@layer components {
  .loopstudio-logo {
    @apply flex items-center w-fit h-fit min-w-5 min-h-5 px-5;
    min-height: -webkit-fill-available;
  }

  .top-navbar {
    @apply flex items-center w-full min-h-[80px] py-4 px-10 text-[14px];
    .logo {
      @apply w-auto h-15;
    }
  }

  .card {
    @apply bg-white rounded-xl;
  }

  .vote-form {
    form {
      @apply flex flex-row gap-1 justify-between;
    }
  }
}
